//global styles
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
*:focus{
    outline: 1px solid $color-dark-pink;
    outline-offset: 2px;
    
}
body{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: $color-white;
}
.container{
    width: 100%;
    max-width: 1110px;
    padding: 0 2rem;
    margin: 0 auto;
}

.site-logo{
    width: 135px;
    height: 38px;
    margin-right: 6.4rem;
    display: flex;
    @include responsive(table){
        margin-right: 3rem;
    }
}
.site-logo:hover{
    
}